/* estilo barra de navegación */
.navegacion{
    background-color: #3E1032;
    padding-top: 0%;
    padding-bottom: 1px;
}

.indice {
    font-size: 25px;
    color: antiquewhite;
}

.izquierda{
    padding-left: 170px;
    padding-right: 104px;
    font-size: 20px;
}

#comienzo {
    padding-right: 120px;
    padding-top: 20px;
}

#categoria {
    padding-top: 20px;
    padding-left: 104px;

}

#registro{
    padding-left: 120px;
    padding-top: 30px;
    font-size: 20px;
}
.logo{
    height: 125px;
    width: 210px;
}

    /*---- código Carrusel de imágenes--- */
    .filaCarrusel{
        background-color: chocolate;
        margin: 78px 198px;
        height: 300px;
        width: 720px;
    }

    .columnaCarrusel{
        background-color:blue;
        height: 300px;
        width: 720px;
    }
    
    #moviesCarrusel{
        height: 300px;
        width: 715px;
        margin-left: -10px
    }