/* estilo barra de navegación */
.barraInicio{
  background-color: #3E1032;
  margin-top: 0%;
  padding-bottom: 5px;
}

.inicio{
  padding: 0%;
}

.nombreNegocio{
  color: #fff;
}

.inicio button{
  background-color: #fff;
}

#comienzo {
    padding-right: 120px;
    padding-top: 20px;
}

#categoria {
    padding-top: 20px;
    padding-left: 104px;

}

#registro{
    padding-left: 120px;
    padding-top: 30px;
    font-size: 20px;
}
.logo{
    height: 125px;
    width: 210px;
}

    /*---- código Carrusel de imágenes--- */
    .filaCarrusel{
        background-color: chocolate;
        margin: 78px 198px;
        height: 300px;
        width: 720px;
    }

    .columnaCarrusel{
        background-color:blue;
        height: 300px;
        width: 720px;
    }
    
    #moviesCarrusel{
        height: 300px;
        width: 715px;
        margin-left: -10px
    }

      /* sección cartelera 1 */
      .cartel1{
        text-align: center;
        color: #3E1032;
        margin: 0px;
        padding-bottom: 22px;
      }

      .filaCartelera{
        margin: 15px 80px 15px 80px;
      }

      .tarjeta{
        cursor: pointer;
        height: 380px;
      }

      .tarjeta:hover{
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
      }
      
       /* sección películas destacadas */
        .destacados{
            background-color: aqua;
            height: 350px;
            margin-top: 25px;
            background: linear-gradient(to right,#3E1032,#CCB3C6);
        }
          /* Elementos de cartelera 2 */
          .cartelera2{
            margin-top: 30px;
            margin-bottom: 30px;
          }

          .cartelera2 .tarjeta{
            margin-bottom: 15px;
          }

          .categorias{
            margin-top: 8px;
            margin-bottom: 70px;
          }

          .pie{
            background-color: #CCB3C6;
            margin-top: 30px;
          }

          .piePag{
            margin-top: 11.5px;
          }